
<h1 style="color: black;" id="categories_text"><b>Categories</b></h1>
<br>
<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col align-self-center">
      <div class="row justify-content-center">
        <button class="btn btn-success btn-circle btn-circle-xl m-1"><i class=" fa fa-eject" routerLink="pickup"></i></button>
      </div>
      <div style="color: teal;"class="row justify-content-center">
        Pickup
      </div>
    </div>

    <div class="col align-self-center">
      <div class="row justify-content-center">
        <button class="btn btn-primary btn-circle btn-circle-xl m-1"><i class="fa fa-cutlery" routerLink="groceries"></i></button>
      </div>
      <div style="color: teal;"class="row justify-content-center">
        Groceries
      </div>
      
    </div>

    <div class="col align-self-center">
      <div class="row justify-content-center">
        <button class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane" routerLink="convinience"></i></button>
      </div>
      <div style="color: teal;" class="row justify-content-center">
        Convinience
      </div>
    </div>

    <div class="col align-self-center">
      <div class="row justify-content-center">
        <button class="btn btn-warning btn-circle btn-circle-xl m-1" (click)=food()><i class="fa fa-tags"></i></button>
      </div>
      <div style="color: teal;" class="row justify-content-center">
        Food
      </div>
    </div>

    <div class="col align-self-center">
      <div class="row justify-content-center">
        <button class="btn btn-danger btn-circle btn-circle-xl m-1"><i class="fa fa-sliders" routerLink="delivery"></i></button>
      </div>
      <div style="color: teal;" class="row justify-content-center">
        Delivery
      </div>
    </div>

    

  </div>

</div>

<br>
<br>
<br>
<br>

  <h1 style="color: black;" id="categories_text"><b>Top offers in {{ city }}</b></h1>


<div class="card-columns">
  <div class="card" *ngFor="let offer of offers">
    <img class="card-img-top" src="../../assets/Vegetablespng.png" height="250px" width="250px" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title" style="color: black;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{offer.name}}</h3>
      <p class="card-text" style="color: black;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{offer.description}}</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div> 
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <ng-container *ngFor="let offer of offers">
      <div class="card col-md-3" >
        <img  src="../../assets/Vegetablespng.png"  alt="Card image cap">
        <h5  style="color: black; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{offer.name}}</h5>
        <p  style="color: black; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{offer.description}}</p>
        <button class="btn btn-primary">Visit now</button>
      </div>
    </ng-container>
    
  </div>
</div> -->


  <br>
  <br><br><br><br>

  <h1 style="color: black;" id="categories_text"><b>Popular stores in {{ city }}</b></h1>

  <div class="card-columns"> 
    <div *ngFor="let x of stores.results; let i = index" class="card">
      <img class="card-img-top" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photo_reference={{x.photos[0].photo_reference}}&key=AIzaSyD02WdNCJWC82GGZJ_4rkSKAmQetLJSbDk" height="250px" width="200px" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title" style="color: black;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"><strong>{{x.name}}</strong></h3>
        <p style="color: black;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{x.vicinity}}</p> 
        <a class="btn btn-primary" (click)="visitStore(i)" style="background-color:gray;">Visit</a>
        <a class="btn btn-primary" style="margin-left: 10px;background-color:gray;"
        (click)="favorite(i)"><i class="bi bi-heart-fill"></i></a>
      </div> 
    </div> 
  </div>
  
  
  <br>
  <br>
  <br>
  <br><br>
  