<!-- Products page works
<ul fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <app-product *ngFor="let p of products" [product]="p"></app-product>
</ul>
 -->

<div class="container">
  <div class="row">
      <ng-container *ngFor="let products of productsdetails let i = index">
          <div class="card col-md-3">
              <img src="{{products.photo}}" alt="">
              <h5 style="color:black;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{products.productName}}</h5>
              <p style="color:black;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{products.description}}</p>
              <p style="color: black;"><strong>Price:</strong>{{products.price}}</p>
              <div class="center" style="width: 100%;margin-left: 60px;">
                <button style="font-size: 20px;" type="button" (click)="increase(i)" class="btn"><i class="fa fa-plus"></i></button>
                <span style="color:black; font-size: 20px;">{{products.quantity}}</span>
                <button style="font-size: 20px;" type="button" (click)="decrease(i)" class="btn"><i class="fa fa-minus"></i></button>
              </div>
              <button class="btn btn-primary" (click)=addtocart(i)>Add to cart</button>
              
          </div> 
      </ng-container>

  </div>
</div>

<!-- <section id="myProducts">
    <div class="container p-5">
      <div *ngIf="!productsdetails" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <h3 *ngIf="productsdetails && !productsdetails.length"  class="display-2 text-center mt-5">My Products is Empty</h3>
      <div *ngIf="productsdetails && productsdetails.length" class="row">
        <div class="col">
          <h4 class="display-4">My Products</h4>
          <div class="row">
            <div class="offset-10 col-2 d-none d-md-block">
              <p>
                <small class="text-muted">Price</small>
              </p>
            </div>
          </div>
          <hr class="mt-0">
          <div *ngFor="let product of productsdetails" class="product">
            <div class="row">
              <div class="col-4 col-md-2">
                <a routerLink="/product/{{ product.id }}">
                  <img src="{{ product.photo }}" alt="image" class="img-fluid img-thumbnail">
                </a>
              </div>
              <div class="col-5 col-md-8">
                <h5>
                  <a routerLink="/product/{{ product.id }}">{{ product.productName }}</a>
                  <p class="m-0">
                    <small class="text-muted">{{product.description}}</small>
                  </p>
                </h5>
              </div>
              <div class="col-2">
                <h6 class="font-weight-bold text-danger"> &#8377; {{ product.price }}</h6>
                <a href="#" class="btn btn-primary" style="background-color:gray;">Add to cart</a> 
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </section> -->
