
 <mat-toolbar color = "primary">
     <mat-toolbar-row>
         <button mat-icon-button>
             <mat-icon (click)="sidenav.toggle();">menu</mat-icon>

         </button>
         <h1>PeekNshop</h1>
         <span class="example-spacer"></span>
         <div class="right">
            <h1 id="city"> {{ city }}</h1>
         </div>
         <button>
             login
         </button>
         
     </mat-toolbar-row>
 </mat-toolbar>

 <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item > Home</a>
            <a mat-list-item > Delivery</a>
            <a mat-list-item > Pickup</a>
            <a mat-list-item > About us</a>
            <a mat-list-item > Contact us</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 88vh;">
        </div>
    </mat-sidenav-content>
 </mat-sidenav-container>