<div class="container bg-white mb-5 rounded mt-1">
    <div class="row d-flex justify-content-start align-items-center px-sm-3">
        <div class="p-1"> <a href="#"><span class="fa fa-bars text-dark"></span></a> </div>
        <div class="p-sm-2"> <a href="#" class="text-primary"><span class="fa fa-scribd"></span> SAVINYT</a> </div>
        <div class="p-2"> <span class="text-muted pr-sm-2">|</span><b> REQUEST</b> </div>
        <div class="p-2 ml-auto"> <span class="fa fa-search"></span> </div>
        <div class="p-2"> <span class="fa fa-th"></span> </div>
        <div class="p-2"> <span class="fa fa-bell-o"></span> </div>
        <div class="p-sm-2"> <img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="" width="30" height="30"> </div>
    </div>
</div>
<div class="container border-bottom bg-white mt-1 pt-md-3 pt-2">
    <div class="d-flex flex-md-row justify-content-around align-items-center">
        <div class="d-flex flex-md-row align-items-center">
            <div class="p-md-2"> <img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="" class="rounded-circle" id="profile"> </div>
            <div class="p-md-2 p-1" id="info">
                <h5>Robert Miller</h5>
                <div class="text-muted">Sr.Manager</div>
            </div>
        </div>
        <div class="d-flex flex-column" id="info">
            <div class="p-md-1 text-muted"> <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span> robertmiller@saviynt.com</div>
            <div class="p-md-1 pt-sm-1 text-muted"> <span class="fa fa-phone bg-light p-1 rounded-circle"></span> +(555) 555-1234</div>
        </div>
        <div class="rounded p-lg-2 p-1" id="blue-background">
            <div class="d-flex flex-md-row align-items-center">
                <div class="d-flex flex-column align-items-center px-lg-3 px-md-2 px-1" id="border-right">
                    <p class="h4">40</p>
                    <div class="text-muted" id="count">Application</div>
                </div>
                <div class="d-flex flex-column align-items-center px-lg-3 px-md-2 px-1" id="border-right">
                    <p class="h4">117</p>
                    <div class="text-muted" id="count">Accounts</div>
                </div>
                <div class="d-flex flex-column align-items-center px-lg-3 px-md-2 px-1" id="border-right">
                    <p class="h4">58</p>
                    <div class="text-muted" id="count">Entitlements</div>
                </div>
                <div class="d-flex flex-column align-items-center px-lg-4 px-md-2 px-sm-1 px-2">
                    <p class="h4">03</p>
                    <div class="text-muted" id="count">Roles</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-lg-5 pt-lg-2 pt-md-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"> <a href="#user" class="nav-link active" id="user-tab" data-toggle="tab" role="tab" aria-controls="user" aria-selected="true">User Profile</a> </li>
            <li class="nav-item" role="presentation"> <a href="#user" class="nav-link text-muted" data-toggle="tab" role="tab" aria-controls="access" aria-selected="false">Access</a> </li>
            <li class="nav-item" role="presentation"> <a href="#user" class="nav-link text-muted" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false">Settings</a> </li>
        </ul>
    </div>
</div>
<div class="tab-content w-100 pt-md-0">
    <div class="tab-pane show active" id="user" role="tabpanel" aria-labelledby="user-tab">
        <div class="container rounded-bottom bg-light">
            <div class="row pl-lg-5 pt-md-0 pt-sm-2">
                <div class="col-md-6 py-md-4">
                    <div class="d-flex flex-row">
                        <div class="btn border-dark mr-md-3 details">User Details</div>
                        <div class="btn border-primary text-primary selected-tab">User Timeline</div>
                    </div>
                    <div class="d-flex flex-row justify-content-start align-items-center pt-md-4 pb-md-3 pt-sm-2 border-bottom timeline">
                        <div class="p-md-2 pl-sm-2 mt-sm-1 font-weight-bold">User Timeline</div>
                        <div class="p-md-2 pt-sm-1 p-2 ml-auto border rounded text-muted bg-white">07 Apr-07 Jul 2019<span class="fa fa-calendar-o pl-sm-1 pl-1"></span></div>
                        <div class="p-md-2 p-sm-1 p-2 text-muted bg-white border rounded ml-sm-1"><span class="fa fa-sliders"></span></div>
                    </div>
                    <div class="text-secondary year">2019 <span class="fa fa-angle-down"></span></div>
                    <div class="d-flex flex-row pt-5 ml-md-0 ml-sm-5">
                        <div class="d-flex flex-column text-muted mr-md-3 dates">
                            <div class="mb-5">APR 07 WED</div>
                            <div class="my-5">MAY 12 TUE</div>
                            <div class="mt-4 pt-3">JUL 07 SAT</div>
                        </div>
                        <div class="progress vertical-progress">
                            <div id="dot1"></div>
                            <div id="dot2"></div>
                            <div id="dot3"></div>
                            <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex flex-column border bg-white ml-md-5 p-sm-0 p-1" id="status1">
                            <div id="arrow"></div>
                            <div class="text-dark font-weight-bold pl-sm-2">Robert Miller <span class="text-primary">Joined</span> </div>
                            <div class="text-muted pl-sm-2">Product Manager</div>
                        </div>
                        <div class="d-flex flex-column border bg-primary ml-md-5 p-sm-0 p-1" id="status2">
                            <div id="bluearrow"></div>
                            <div class="text-white font-weight-bold pl-sm-2">Settings has been changed</div>
                            <div class="text-white pl-sm-2">(Notification & security question)</div>
                        </div>
                        <div class="d-flex flex-column border bg-white ml-md-5 p-sm-0 p-1" id="status3">
                            <div id="arrow"></div>
                            <div class="text-dark font-weight-bold pl-md-2 pl-sm-2">Reviews,success assessments etc. </div>
                            <div class="pl-md-2 pl-sm-2 font-weight-bold" id="task">completed</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-md-5 mt-5">
                    <div class="mt-lg-0 mt-md-4"> <b>Detail View</b> </div>
                    <div class="bg-white border rounded view">
                        <div class="d-flex flex-row justify-content-start">
                            <div class="bg-light text-muted">2019</div>
                        </div>
                        <div class="d-flex flex-row align-items-center pt-3">
                            <div class="d-flex flex-column align-items-center px-lg-5 px-md-3 px-sm-5 px-3 day">
                                <div>MAY</div>
                                <div>
                                    <h5>12</h5>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="pr-sm-2 pr-1"> <img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="" width="50" height="50" class="rounded-circle"> </div>
                                <div class="d-flex flex-column">
                                    <div><b>Robert Miller</b></div>
                                    <div id="small-font">02 changes has been done 03 years ago</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center ml-lg-5 ml-md-4 mt-md-3 mr-md-2 mb-md-2 mx-3">
                            <div class="d-flex flex-column justify-content-center mt-md-3 mt-2 ml-md-0 ml-sm-2">
                                <div class="pb-2"><b>Notification</b></div>
                                <div class="d-flex flex-row align-items-center mt-md-1 p-md-2 rounded border">
                                    <div class="p-1"><span class="fa fa-shield"></span></div>
                                    <div class="p-1" id="small-font">Send me reminder of my password expiration</div>
                                    <div class="text-success p-1 updated">Updated</div>
                                </div>
                                <div class="pb-2 pt-2"><b>Trouble signing in</b></div>
                                <div class="d-flex flex-row align-items-center mt-md-1 p-md-2 rounded border">
                                    <div class="p-1"><span class="fa fa-shield"></span></div>
                                    <div class="p-1" id="small-font">I need to reset security question</div>
                                    <div class="text-success p-1 ml-auto">Updated</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>