<p>about works!</p>
<h1 id="text"><b>Team Members</b></h1>
<div class="container my-4">
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          
  
          <img class="rounded-circle" alt="100x100" src="../../assets/Vamsi.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          
  
          <img class="rounded-circle" alt="100x100" src="../../assets/Vegetablespng.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
  
        </div>
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
            <h2 class="my-5 h2">Basic example</h2>
    
            <img class="rounded-circle" alt="100x100" src="../../assets/Vegetablespng.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-6 mb-4">
    
            <h2 class="my-5 h2">With shadow</h2>
    
            <img class="rounded-circle" alt="100x100" src="../../assets/Vegetablespng.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    
          </div>
  
      </div>
      <!--Grid row-->
            
</div>


<div className="secion" id="about">
    <div className="container">
      <div className="about-section">
        <div className="content">
          
            <h1>About Me</h1>
          
          <p>
            This is a paragraph
            <br>
            <br>
            This is para 2
            <br>
            <br>
            This is para 3
          </p>
        </div>
        <div className="image-wrapper">
          <img src="../../assets/Vamsi.png" alt="about">
        </div>
      </div>
    </div>
  </div>
)
}

<div class="section" id="about">
    <div class="container">
      <div class="card"  data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12" data-aos="fade-right">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <hr>
              <p>Hi I'm <strong>Rajesh S Nair</strong> , a Software Professional currently working<!-- under the designation of <strong>Database Engineer</strong>--> at Wells Fargo,Bangalore,India

              <p>       
                  I have a keen interest in learning new technologies and deep diving to explore.I am founding member of MongoDB Champions Program and also Bengaluru MongoDB User Group Leader
                                        
              </p>
              <p>Having <strong>around 10 years of experience in IT Industry</strong> has helped harness skills in various technologies and tools.
                I have tried to express and share my experience and knowledge through my youtube tech channel
              <strong> "VeMaRa Hub"</strong></p>
                <p>Check out the video to have a peek at it:</p>
              
                <section id="how-it-works">
                  <iframe
                    id="video"
                    height="315"
                    src="https://www.youtube-nocookie.com/embed/zGkkrc2LT0Y?rel=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </section>


    

        