<p>about works!</p>
<h1 id="text"><b>Team Members</b></h1>
<div class="container my-4">
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          
  
          <img class="rounded-circle" alt="100x100" src="../../assets/Vamsi.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          
  
          <img class="rounded-circle" alt="100x100" src="../../assets/Vegetablespng.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
  
        </div>
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
            <h2 class="my-5 h2">Basic example</h2>
    
            <img class="rounded-circle" alt="100x100" src="../../assets/Vegetablespng.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-6 mb-4">
    
            <h2 class="my-5 h2">With shadow</h2>
    
            <img class="rounded-circle" alt="100x100" src="../../assets/Vegetablespng.png"
            data-holder-rendered="true">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    
          </div>
  
      </div>
      <!--Grid row-->
            
</div>


<div className="secion" id="about">
    <div className="container">
      <div className="about-section">
        <div className="content">
          
            <h1>About Me</h1>
          
          <p>
            This is a paragraph
            <br>
            <br>
            This is para 2
            <br>
            <br>
            This is para 3
          </p>
        </div>
        <div className="image-wrapper">
          <img src="../../assets/Vamsi.png" alt="about">
        </div>
      </div>
    </div>
  </div>


